
.background-image{
  background-image: url("https://cdn-images-1.medium.com/max/2000/1*4dPKduf_2PBA_Gbvsj3iEg.png");
  background-size: auto;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.ncent-logo {
  position: relative;
  top: 220px;
  bottom: 0;
  right: 0;
  left: 35px;
  height: 600px;
}

.container {
  /* display: flex; */
  /* justify-content: center; */
  height: 100vh;
  width: 100vw;
}

.title {
  z-index: 9999;
  position: absolute;
  color: red;
}
